body {
  background-color: #fff;
  padding-block: 2rem 3rem;
  overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e6e6ff;
   
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.shape {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(-45deg, #ba71ff, #ff71b8);
}

.path {
  clip-path: path("M 10,40 L 70,40 A 10,10 0,0,0 80,30 L 80,10 A 10,10 0,0,1 90,0 L 140,0 A 10,10 0,0,1 150,10 L 150, 190 A 10,10 0,0,1 140,200 L 10,200 A 10,10 0,0,1 0,190 L 0,50 A 10,10 0,0,1 10,40 Z");
}